@import url();

body {
  /*background-image: url('../fondos/metros.jpg');*/
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(235, 10, 10, 0.5)), url('../fondos/metros.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
  color: white; /* text color */
}
